<div class="album-info">
  <div class="main" *ngIf="albumInfo">
    <div class="info">
      <div class="thumbnail">
        <img [src]="albumInfo.cover" [alt]="albumInfo.albumTitle" class="cover">
        <div class="back-cover"></div>
      </div>
      <div class="contents">
        <h1>
          <xm-tag xmColor="#5fa8fc" class="tag">连载</xm-tag>
          <span>{{ albumInfo.albumTitle }}</span>
        </h1>
        <div class="record">
          <div class="rate">
            <div class="star-wrap">
              star|star
            </div>
            <span class="score">{{ score }}分</span>
          </div>
          <div class="play-count">
            <i xmIcon="headset" class="icon"></i>
            <span>{{ albumInfo.playCount | numberFormat }}</span>
          </div>
        </div>
        <div class="metas">
          <xm-tag class="meta" *ngFor="let meta of albumInfo.metas">{{ meta.metaDisplayName }}</xm-tag>
        </div>
        <div class="actions">
          <button xmBtn [xmCircle]="true" class="btn">
            <i xmIcon="play1" class="icon"></i>
            播放全部
          </button>
        </div>
      </div>
    </div>
    <div class="intro">
      <article>{{ albumInfo.detailRichIntro }}{{ albumInfo.detailRichIntro }}{{ albumInfo.detailRichIntro }}</article>
      <div class="more-arrow">
        <div class="blur"></div>
        <span>显示全部</span>
        <i xmIcon="arrow-down-line" class="icon"></i>
      </div>
    </div>
  </div>
</div>
