<div class="album-info">
  <div class="main">
    <div class="info">
      <div class="thumbnail">
        <img src="https://imagev2.xmcdn.com/group78/M08/6A/2B/wKgO4F5OQMGgOyY5AAD30zb9Drk500.jpg!strip=1&quality=7&magick=jpg&op_type=5&upload_type=album&name=mobile_large&device_type=ios" alt="封面" class="cover">
        <div class="back-cover"></div>
      </div>
      <div class="contents">
        <h1>
          <xm-tag xmColor="#5fa8fc" class="tag">连载</xm-tag>
          <span>教师资格证：笔试系统班</span>
        </h1>
        <div class="record">
          <div class="rate">
            <div class="star-wrap">
              star|star
            </div>
            <span class="score">9分</span>
          </div>
          <div class="play-count">
            <i xmIcon="headset" class="icon"></i>
            <span>{{ value | numberFormat }}</span>
          </div>
        </div>
        <div class="metas">
          <xm-tag class="meta">教师</xm-tag>
          <xm-tag class="meta">资格证</xm-tag>
        </div>
        <div class="actions">
          <button xmBtn [xmCircle]="true" class="btn">
            <i xmIcon="play1" class="icon"></i>
            播放全部
          </button>
        </div>
      </div>
    </div>
    <div class="intro">
      <article>
        简介简介简介简介简介简介
      </article>
      <div class="more-arrow">
        <div class="blur"></div>
        <span>显示全部</span>
        <i xmIcon="arrow-down-line" class="icon"></i>
      </div>
    </div>
  </div>
</div>
