.bread-crumb {
  display: flex;
  align-items: center;
  color: #72727b;
  xm-breadcrumb-item {
    &:last-child {
      .bread-crumb-item {
        .content { color: rgba(0, 0, 0, 0.5); }
        .separator {
          display: none;
        }
      }
    }
  }

}
