<section>
  <h3>管道</h3>
  title:  {{ title }}
  <p>uppercase title:  {{ title | uppercase }}</p>
  <p>uppercase -> lowercase title:  {{ title | uppercase | lowercase }}</p>
  
  obj: {{ obj }}
  <p>json obj: {{ obj | json }}</p>
  
  now: {{ now }}
  <p>date now: {{ now | date }}</p>
  <p>格式化 date now: {{ now | date: 'yyyy-MM-dd' }}</p>
  <p>long date now: {{ now | date: 'longDate' }}</p>
</section>


<section>
  <h3>安全导航运算符</h3>
<!--  <p *ngIf="hero">hero name: {{ hero.name }}</p>-->
  <p>hero name: {{ hero?.name }}</p>
</section>
