<div class="xm-player-box" xmDrag>
  <div class="xm-player" #player>
    <div class="thumbnail">
      <img xmDragHandler [src]="album.cover || '../../../assets/images/default-pic.jpg'" />
    </div>
    <div class="middle">
      <div class="operate">
        <i class="icon icon-prev" xmIcon="previous"></i>
        <i class="icon icon-toggle" (click)="togglePlay()" [xmIcon]="playing ? 'pause' : 'play'"></i>
        <i class="icon icon-next" xmIcon="next"></i>
      </div>
    </div>
    <div class="list">
      <i class="icon" xmIcon="mulu"></i>
    </div>
    <div class="close">
      <i class="icon" xmIcon="Close"></i>
    </div>
  </div>
  <div class="xm-player-panel down">
    <div class="panel-wrap">
      <ul>
        <li
          *ngFor="let item of trackList; index as i; trackBy: trackByTracks"
          [class.current]="item.trackId === currentTrack?.trackId"
        >
          <p class="title ellipsis" [title]="item.title">{{ item.title }}</p>
          <i class="icon" xmIcon="delete"></i>
        </li>
      </ul>
    </div>
  </div>
  <audio
    #audio
    [src]="currentTrack?.src"
    (canplay)="canplay()"
    (ended)="ended()"
    (error)="error()"
  >
  </audio>
</div>
