<div id="xm">
  <xm-header></xm-header>
  <div class="content">
    <div class="container">
      <div class="breadcrumb-wrap">
        <xm-breadcrumb [xmSeparator]="mySeparator">
          <xm-breadcrumb-item>
            全部
          </xm-breadcrumb-item>
          <xm-breadcrumb-item>
            一级
          </xm-breadcrumb-item>
          <xm-breadcrumb-item>
            二级
          </xm-breadcrumb-item>
          <ng-template #mySeparator let-name let-my="my">
            <b>$$—{{ name }}—{{ my }}</b>
          </ng-template>
        </xm-breadcrumb>
      </div>
    </div>
  </div>
</div>
