$hostCls: xm-rate-item;
.#{$hostCls} {
  position: relative;
  display: inline-block;
  color: #f0f0f0;
  margin-right: 2px;
  cursor: pointer;
  transition: transform .3s;
  &.#{$hostCls}-full {
    .back {
      color: #fa8c16;
    }
    .front {
      opacity: 0;
    }
  }
  &.#{$hostCls}-half {
    .front {
      opacity: 1;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
  &.#{$hostCls}-readonly {
    &:hover {
      transform: scale(1);
    }
  }
  .star-wrap {
    transition: color .3s, opacity .3s;
    .icon {
      font-size: 22px;
    }
  }
  .front {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    color: #fa8c16;
  }
}
