<div class="xm-page-wrap">
  <ul class="xm-pages">
    <li class="xm-page disabled">
      <i xmIcon="previewleft" class="icon"></i>
    </li>
    <li class="xm-page checked">
      <a>1</a>
    </li>
    <li class="xm-page">
      <i xmIcon="more" class="icon"></i>
    </li>
    <li class="xm-page">
      <a>4</a>
    </li>
    <li class="xm-page">
      <a>5</a>
    </li>
    <li class="xm-page">
      <a>6</a>
    </li>
    <li class="xm-page">
      <a>7</a>
    </li>
    <li class="xm-page">
      <a>8</a>
    </li>
    <li class="xm-page">
      <i xmIcon="more" class="icon"></i>
    </li>
    <li class="xm-page">
      <a>100</a>
    </li>
    <li class="xm-page">
      <i xmIcon="previewright" class="icon"></i>
    </li>
  </ul>
  <div class="xm-page-navigate">
    <input type="number" class="xm-input" />
    <button>跳转</button>
  </div>
</div>
