<div class="home">
  <div class="container-fluid">
    <header class="header alert alert-primary">
      <div class="row justify-content-end align-items-center">
        <div class="col-4">
          <h2 class="title text-center" routerLink="/home">Hero Management Office</h2>
        </div>
        <div class="col-4">
          <a class="login" routerLink="/login">登录</a>
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let item of breadcrumb">{{ item }}</li>
      </ul>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
