<div class="transfer-panel border rounded">
  <div class="head pl-3">
    <p>
      <span *ngIf="selecteds.length">{{ selecteds.length }} /</span> {{ showList.length }} 项
    </p>
  </div>
  <div class="search-box p-2" *ngIf="search">
    <input (input)="onInput($event)" type="text" class="form-control" placeholder="请输入关键字" />
  </div>
  <ul class="list mb-0 overflow-auto pl-0">
    <li
      class="list-item text-truncate list-group-item-action"
      [class.active]="targetIndex(item.key) > -1"
      *ngFor="let item of showList; index as i"
      (click)="itemClick(i)">
      {{ item.value }}
    </li>
  </ul>
</div>
