.container {
  margin: 0 auto;
  width: 1080px;
}

img {
  display: inline-block;
  width: 100%;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.overlay-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  &.overlay-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //pointer-events: auto;
    transition: opacity .3s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
    //background-color: rgba(0,0,0,.32);
    &.overlay-mask-show {
      opacity: 1;
    }
  }
}
