.xm-btn {
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  background-image: linear-gradient(90deg,#ff9973 1%,#f86442 95%);
  &.xm-btn-block {
    width: 100%;
  }
  &.xm-btn-circle {
    border-radius: 36px;
  }
  &[disabled] {
    color: rgba(0,0,0,.25);
    background-color: #f5f5f5;
    background-image: none;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}
