<div class="modal fade show black-back" (click)="backdropClick.emit()" [class.d-block]="show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation();">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button (click)="onClose()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">{{ cancelLabel }}</button>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">{{ confirmLable }}</button>
      </div>
    </div>
  </div>
</div>
