<div class="main-content">
  <div class="categories">
    <ul>
      <li>全部</li>
      <li *ngFor="let item of categoryInfo?.subcategories">{{ item.displayValue }}</li>
    </ul>
  </div>
  <div class="conditions">
    <div class="row" *ngFor="let row of categoryInfo?.metadata">
      <b class="title">{{ row.displayName }}</b>
      <ul class="tabs">
        <li class="tag" *ngFor="let item of row.metaValues">{{ item.displayName }}</li>
      </ul>
    </div>
    <div class="row">
      <b class="title">场景</b>
      <ul class="tabs">
        <li class="tag">睡前</li>
        <li class="tag">午后</li>
      </ul>
    </div>
  </div>
  <div class="albums">
    albums
  </div>
</div>
