<div class="main-content">
  <div class="categories">
    <ul>
      <li [class.checked]="!searchParams.subcategory" (click)="changeSubCategory()">全部</li>
      <li
        [class.checked]="item.code === searchParams.subcategory"
        *ngFor="let item of categoryInfo?.subcategories; trackBy: trackBySubCategories"
        (click)="changeSubCategory(item)">
        {{ item.displayValue }}
      </li>
    </ul>
  </div>
  <div class="conditions">
    <ng-container *ngFor="let row of categoryInfo?.metadata">
      <div class="row" *ngIf="showMetaRow(row.name)">
        <b class="title">{{ row.name }}</b>
        <ul class="tabs">
          <li class="tag" (click)="changeMeta(row, item)" *ngFor="let item of row.metaValues; trackBy: trackByMetas">{{ item.displayName }}</li>
        </ul>
      </div>
    </ng-container>
  
    <div class="row checked-conditions" *ngIf="checkedMetas.length">
      <b class="title">已筛选</b>
      <ul class="tabs">
        <li class="tag" *ngFor="let item of checkedMetas" (click)="unCheckMeta(item)">
          <span class="label-title">{{item.metaRowName}}</span> |
          <span>{{item.metaName}}</span>
        </li>
      </ul>
      <a class="clear" (click)="unCheckMeta('clear')">清除全部</a>
    </div>
  </div>
  <div class="albums">
    albums
  </div>
</div>
